.fields{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
}

.field{
    color: var(--green);
    text-decoration: underline;
}

.name{
    color: transparent;
    -webkit-text-stroke: 2px var(--lign);
    overflow: hidden;
    letter-spacing: 2px;
}

.name span{
    position: relative;
    display: inline-block;
}

.name span::before{
    content: attr(data-char);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-110%);
    color: var(--lign);
}