.work-ul{
    list-style: none;
    font-size: 14px;
}

.work-ul li{
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
}

.work-ul li::before{
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--green);
}

.title{
    font-size: 22px;
    color: var(--lign);
    font-weight: 600;
}

.time-span{
    font-size: 13px;
    color: var(--lign);
    margin-bottom: 20px;
    margin-top: 10px;
}